@import "tailwindcss";

/* Déclaration correcte de la variante en v4 */
/* @custom-variant dark (&:where(.dark, .dark *)); */

* {
  transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #374151; border-radius: 3px; }
::-webkit-scrollbar-thumb:hover { background: #4b5563; }