@import "tailwindcss";

* {
  transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
}

/* Scrollbar personnalisée */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #374151;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4b5563;
}